/* body{
  height: 100%;
  
} */
html, #root {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/* navbar */
.drpdwn a{
  color: #000;
}
.nvbr{
  font-size: 1.3rem;
  color: #000;
  font-family: 'Poppins',sans-serif;
  /* font-weight: 60; */
}
._cart{
  cursor: pointer;
}
._cart svg{
  align-items: center;
  font-size: 1.7rem;
  font-family: 'Poppins',sans-serif;
}
._cart span:nth-child(2){
  font-size: 1rem;
  padding: 3px 3px;
  background-color: red;
  color: #fff;
  /* font-weight: bold; */
  border-radius: 5px;
  position: relative;
  /* bottom:45px; */
  /* right: -20px; */
  top: -15px;
}
.icns{
  color: #000;
  font-size: large;
  
}
/* navbar */

/* Profile */
.chck-box{
  padding-bottom:10px;
}
.chck-box,input,label{
  padding-right: 20px;
}
.profile{
  border: 1px solid #d3ced2;
  padding: 20px;
  margin: 4em 0;
  text-align: left;
  border-radius: 5px;
}
.sideBar{
  margin: 1em 0;
  text-align: left;
  /* font-size: 23px; */
}
.sideBar a{
  font-size: 18px;
  text-align: start;
  color: #000;
}
.sideBar svg{
  font-size: 25px;
}
.sideBar ul,li {
  padding:10px 0px 0px 0px;

  list-style-type: none;
  text-decoration: none;
}
.myPurchase{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.myPurchase Table,tr,td{
  justify-content: center;
}
.__title{
  display: flex;
  align-items: center;
  align-self: center;
}

/*  */

/* Card */
a{
  text-decoration: none;
  color: #000;
}
  .cardProduk a{
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
  }
  .cardimg{
    border-radius:20px;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 200ms ease-in;
    cursor: pointer;
  }
  .__card{
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  .___card{
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }
  .cardProduk :hover{
    background-color: whitesmoke;
    color: #000;
  }
  
  /*  */
 
  /* Home */
  .imgKategori{
    /* border-radius: 8px; */
    /* max-width: 33rem;
    max-height: 40rem; */
    /* float: left; */
		padding: 0px;
		position: relative;
  }
  .boxImg{
    max-width: 33rem;
    max-height: 40rem;
    display: flex;
    justify-content: center;
    /* box-sizing: border-box; */
   
  }
  .imgKategori img{
    width:20rem;
    height:auto;
    border-radius: 20px;
    object-fit: cover;
    position: relative;
    margin: 0px;
		padding: 0px;
		float: left;
		z-index: 4;
    border: 0px solid #000;
    transition: box-shadow .1s;

  }
  
  .imgKategori h3 {
    color:#fff;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-size: 2rem;
    cursor: pointer;
    font-weight:bolder;
    /* font-family: Garamond, serif; */
    /* position: absolute; */
    z-index: 10;
		position: absolute;
		height: 300px;
		text-align: center;
		top:50px;
  
  }
  .imgKategori img:hover{
    cursor: pointer;
    box-shadow: 20px 20px 10px rgba(33,33,33,.2); 
  }
  /* Paginate */
  ._paginate{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-right: 10px;
    margin-left: 20px;
    width: 20px;
    cursor: pointer;
    /* text-align: left; */
    /* border-radius: 5px; */
  }

  /* detail */
 
  .detailproduct{
    justify-content: start;
  }
  .titleDetail{
    justify-content: start;
    font-weight: 400;
    font-family: "Abhaya Libre";
  }
  .breadcrumb-style a{
    text-decoration: none;
    color: #6c757d;
  }
  .titlePrice{
    font-size: 24px;
    font-weight: 700;
    color: #585b53;
    font-family: "poppins";
  }
  .qty{
    text-align: start;
    display: flex;
    margin-top: 20px;
    align-items: center;
    font-size: 18px;
  }
  .coverZoom{
    max-height:33rem;
    display: flex;
    max-width: 40rem;
    object-fit: cover;
  }
  .coverZoom img{
    width:100%;
    height:auto;
    object-fit: cover;
  }

._img{
  display: flex;
  min-width: 33%;
  max-height: 40rem;
}
._img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  padding: 5%;
}
  
.nav li, nav li a{
  position: relative;
}

._comment{
  border-top: 2px solid whitesmoke;
  width: 100%;
  height: auto;
}
._comment a{
  text-decoration: none;
  color:#000;
}
  ._table{
    width: 100%;
    text-align: start;
  }
  ._table tr{
    width: 100%;
  }
  .__table{
    width: 10px;
    text-align: start;
  }

  .addInformation{
    display: block;
    margin: 0 0 1.2em;
    padding: 0;
    word-wrap: break-word
}
.formReview{
  border: 1px solid #d3ced2;
  padding: 20px;
  margin: 2em 0;
  text-align: left;
  border-radius: 5px;
}
#review{
  display: flex;
}
.cIKpxU::after {
  display: none;
}

/*  */

/* addProduct */
.addImage{
  max-height:10rem;
  display: flex;
  max-width: 10rem;
  object-fit: cover;
  justify-content: start;
}
.addImage img{
  width:100%;
  height:auto;
  object-fit: cover;
}

/* Cart */
.tabImg{
  width: 10%;
  height: 10rem;
  object-fit: cover;
  padding: 0;
}
.imgCart{
  /* display: flex; */
  min-width: 10%;
  /* max-height: 5rem; */
}

.tableCart{
  justify-content: center;
  align-items: center;
}
.cardCart{
  /* padding: 20px;
  margin: 2em 0; */
  text-align: left;
}
.lines{
  border-bottom: 2px solid whitesmoke;
}

/*  */


  /* Login */
.formLogin{
  border: 1px solid #d3ced2;
  padding: 20px;
  margin: 2em 0;
  text-align: left;
  border-radius: 5px;
}
._form{
  width: 100%;
}
._link{
  color: #000;
  text-decoration: none;
}
  /*  */

  /* Footer */
  .wrapperFooter{
    display: flex;
  }
  footer{
    display: flex;
    align-items: center;
   height: 23.3vw;
    left:0;
    bottom:0;
    right:0;
    margin-top: auto;

  }
  .footer-distributed{
    background: #444;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 50px 60px 40px;
    overflow: hidden;
  }
  
  section {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  }
  
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    float: left;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Roboto', cursive;
    margin: 0 0 10px;
  }
  
  .footer-distributed h3 span{
    color:  #5383d3;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer social icons */
  
  .footer-distributed .footer-icons{
    margin-top: 40px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    float: right;
  }
  
  .footer-distributed .footer-right p{
    display: inline-block;
    vertical-align: top;
    margin: 15px 42px 0 0;
    color: #ffffff;
  }
  
  /* The contact form */
  
  .footer-distributed form{
    display: inline-block;
  }
  
  .footer-distributed form input,
  .footer-distributed form textarea{
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color:  #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
  
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color:  #d1d2d2;
  
    width: 400px;
    padding: 18px;
  }
  
  .footer-distributed ::-webkit-input-placeholder {
    color:  #5c666b;
  }
  
  .footer-distributed ::-moz-placeholder {
    color:  #5c666b;
    opacity: 1;
  }
  
  .footer-distributed :-ms-input-placeholder{
    color:  #5c666b;
  }
  
  
  .footer-distributed form input{
    height: 55px;
    margin-bottom: 15px;
  }
  
  .footer-distributed form textarea{
    height: 100px;
    margin-bottom: 20px;
  }
  
  .footer-distributed form button{
    border-radius: 3px;
    background-color:  #33383b;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 1000px) {
  
    .footer-distributed {
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-company-name{
      font-size: 12px;
    }
  
    .footer-distributed form input,
    .footer-distributed form textarea{
      width: 250px;
    }
  
    .footer-distributed form button{
      padding: 10px 35px;
    }
  
  }
  
  @media (max-width: 800px) {
  
    .footer-distributed{
      padding: 30px;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
      float: none;
      max-width: 300px;
      margin: 0 auto;
    }
  
    .footer-distributed .footer-left{
      margin-bottom: 40px;
    }
  
    .footer-distributed form{
      margin-top: 30px;
    }
  
    .footer-distributed form{
      display: block;
    }
  
    .footer-distributed form button{
      float: none;
    }
  }
  
  
  /*  */